<div class="header">
  <div class="logo-container">
    <img src="assets/logo1.png" alt="App Logo" class="app-logo" />
     <!-- User Profile Dropdown -->
     <div class="user-profile-container" *ngIf="isLoggedIn() && !isLoginPage()">
      <div class="user-icon" (click)="toggleDropdown()">
        <img src="assets/user-icon.png" alt="User Profile" class="profile-icon" />
      </div>

      <div class="dropdown-menu" *ngIf="dropdownOpen">
        <a routerLink="/profile" class="dropdown-item">Profile</a>
        <a (click)="logout()" class="dropdown-item">Logout</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>